<!DOCTYPE html>
<html lang="en">
{% load staticfiles %} <!-- 정적인 파일들을 로딩하는 옵션-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>게시판</h2>
게시물수 : {{boardCount}}<br/>
<a href="write">글쓰기</a>
<table border="1">
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>제목</th>
        <th>날짜</th>
        <th>조회수</th>
        <th>첨부파일</th>
        <th>다운로드</th>
    </tr>
    {% for row in boardList %}
    <tr>
        <td>{{row.idx}}</td>
        <td>{{row.writer}}</td>
        <td><a href="detail?idx={{row.idx}}">{{row.title}}</a></td>
        <td>{{row.post_date}}</td>
        <td>{{row.hit}}</td>
        <td>

            {% if row.filesize > 0 %}
            <a href="download?idx={{row.idx}}">
                <img src='{% static "images/file.png" %}'
                    width="50px" height="50px">
            </a>
            {% endif %}

        </td>
        <td>{{row.down}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>