<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>글쓰기</h2>
<form name="form1" method="post" action="insert" enctype="multipart/form-data">
    {% csrf_token %} <!--크로스 사이트 스크립팅 방지-->
    <div>
        이름<input name="writer" size="80" placeholder="이름을 입력하세요" >
    </div>
     <div>
        제목<input name="title" size="80" placeholder="제목을 입력하세요" >
    </div>
     <div style="width:800px">
        내용<textarea name="content" rows="3" cols="80" placeholder="내용을 입력하세요"></textarea>
    </div>
     <div style="width:800px">
        첨부파일 <input type="file" name="file">
    </div>
     <div style="width: 700px; text-align:center">
        <button>확인</button>
    </div>

</form>
</body>
</html>